<!DOCTYPE html>
<html>

<head>
    <title>Web application</title>
</head>

<body>

<h2>Enjoy Zero To Hero</h2>

<form id="form3" name="info" action="../info" method="get">
    <label for="f1name">First Name:</label>
    <input type="text" id="f1name" name="f1name"/>
    <label for="l1name">Last Name:</label>
    <input type="text" id="l1name" name="l1name"/>
    <button id="button2" name="button2">Submit</button>
</form>
<!--<script type="application/javascript" src="../js/cookie.js"></script>-->
</body>
</html>
